<dsfr-header
  [serviceTitle]="'Autorité nationale de financement'"
  [serviceTagline]="'de régulation de la formation professionelle et de l\'apprentissage'"
  [headerToolsLinks]="[{label: 'Accueil', link: '/#/home', icon: 'fr-icon-add-circle-line'}]"
  [operatorImagePath]="'assets/fc_logo.png'"
  [logoTooltipMessage]="'Informations complémentaires sur le site ou service'"
  [menu]="[{label: 'Déclarations', link: '/declarations'}, {label: 'Tableau de bord', link: 'tableau-de-bord'}]"
  [headerToolsLinks]="[{label: 'Se connecter', link: '/login', icon: 'fr-icon-lock-line'}]"
></dsfr-header>
