<dsfr-footer class="dojo_footer"
[presentation]="''"
[institutionalLinks]="[]"
[mandatoryLinks]="[{label: 'Accessibilité : ', link: 'https://www.gouvernement.fr/accessibilite', target: '_blank'}, {label: 'Mentions légales', link: '#'}, {label: 'Données personnelles', link: 'https://www.gouvernement.fr/donnees-personnelles-et-cookies', target: '_blank'}, {label: 'Gestion des cookies', link: 'https://www.gouvernement.fr/donnees-personnelles-et-cookies', target: '_blank'}]"
[partnersSub]="[]"
[reboundLinks]="[]"
></dsfr-footer>
