<dojo-header></dojo-header>
<router-outlet></router-outlet>
<dojo-footer></dojo-footer>


<!-- Responsible -> bugs sur le responsive
Grid / Flex  mal agencé utiliser les class dsfr ? -> sur le Tableau de BORD
 Déclarations en colone mal agencé


2eme composant qui existe mais Manque un composant  -> liste des déclaration du mois

dojo-liste déclarationtabble

ajouter le logo france compétences footer et header

@media query sur le container entre header et footer ? min height

NULL il manque les valeurs de déclaration


Reflechir sur le select de la date + chargement des infos avril et mai.

Nouvelle declaration redirige sur le formulaire

Page declaration -> tableau avec filtre  -->
